In [3]:
#Listas em Python

lista1 = [1,2,3]
type(lista1)

list

In [5]:
lista2=[[1,2,3],[4,5,6],[7,8,9]]
type(lista2)

list

In [6]:
lista1[0]

1

In [8]:
lista2[1][1]

5

In [13]:
import random
cidades =["São Paulo",'Rio de Janeiro', "Curitiba"]
escolhida = random.choice(cidades)
print(escolhida)

Rio de Janeiro

In [15]:
cidades.append("Porto Alegre")
cidades

['São Paulo', 'Rio de Janeiro', 'Curitiba', 'Porto Alegre']

In [17]:
cidades2=['Salvador','Florianopolis','Manaus']

In [19]:
for item in cidades2:
    cidades.append(item)
    print(cidades)

['São Paulo', 'Rio de Janeiro', 'Curitiba', 'Porto Alegre', 'Salvador']
['São Paulo', 'Rio de Janeiro', 'Curitiba', 'Porto Alegre', 'Salvador', 'Florianopolis']
['São Paulo', 'Rio de Janeiro', 'Curitiba', 'Porto Alegre', 'Salvador', 'Florianopolis', 'Manaus']

In [21]:
x = [2,4,10,6]
y =[]

In [23]:
for  i in x:
    y.append(float(i))
    print(y)

[2.0]
[2.0, 4.0]
[2.0, 4.0, 10.0]
[2.0, 4.0, 10.0, 6.0]

In [24]:
#tuplas não pode ser alterada
lista=[1,2,3]

In [27]:
lista[0] =230;lista

[230, 2, 3]

In [28]:
tupla = {1,2,3}

In [29]:
tupla[0]=230;tupla

TypeError: 'set' object does not support item assignment

In [30]:
del lista[0];lista

[2, 3]